
<h2 class="text-center"><%=@user.username%>'s Admin Panel</h2>

<div class="d-flex flex-row justify-content-around">
    <%= link_to "#{Notification.unread_count(current_user)} Notifications", notifications_path%>

    <div class="" id="user_profile_container">
        <img src="<%@user.profile_img_url%>">
        <div id="user_profile_infomation">
            <p><strong>Name: </strong><%=@user.username%></p>
            <p><strong>Email: </strong><%=@user.email%></p>
            <% if(@user.meals) %>
                <p><strong>Meals Number: </strong><%=@user.meals.count%></p>
            <% end %>
            <% if(@user.reviews) %>
                <p><strong>Reviews Number: </strong><%=@user.reviews.count%></p>
            <% end %>
        </div>
    </div>


    <div>
        <% if (@user.is_cook) %>
            <%= button_to "Create a new Meal", new_meal_path, method: :get, class: "btn btn-outline-primary my-3"%>
            <div class="card" id="user_container">
                <h5>Current Meals</h5>
                <br>
                <%if(@user.meals.count == 0) %>
                    <p>You don't have any meals yet!</p>
                <% else %>
                    <div class="d-flex flex-column">
                    <%@meals = @user.meals%>
                    <% @meals.each do |meal| %>
                        <div class="card m-3 py-3" style="width: 30rem;">
                            <img src="<%= meal.img_url%>" class="card-img-top " alt="" style="width: 20rem; height: 10rem">
                            <div class="card-body">
                                <h5 class="card-title"><a href="<%=meal_path(meal)%>" class="text-decoration-none"><%= meal.title%></a></h5>
                                <p class="card-text text-truncate"><%= meal.description%></p>
                                <% if can? :crud, meal %>
                                    <%= button_to "Edit", edit_meal_path(meal), method: :get, class: "btn btn-outline-primary my-3"%>
                                    <%= button_to "Delete", meal_path(meal), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class:"btn btn-outline-primary me-2"%>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                    </div>
                <% end %>
            </div>
        <%else%>
            <div class="container d-flex flex-column">
                <div class="d-flex flex-row justify-content-center">
                    <h2><%=@user.username%>'s Review</h2>
                </div>

                <%@approved_reviews = @user.reviews.select{|x| x.is_approved}%>
                <%@pending_reviews = @user.reviews.select{|x| !x.is_approved}%>
                <div class="row row-cols-2 ms-3">
                    <p>Approved Reviews</p>
                    <% @approved_reviews.each do |review| %>
                        <div class="card col m-3 py-3" style="width: 25rem;">
                            <div class="card-body">
                                <h5 class="card-title"><a href="<%=meal_path(review.meal)%>" class="text-decoration-none"><%= review.meal.title%></a></h5>
                                <hr>
                                <span><strong>Rating: </strong>
                                    <%review.rating.times do %>
                                        ★
                                    <% end %>
                                </span>
                                <p class="card-text text-truncate"><%= review.body%></p>
                                <span class="d-flex flex-row align-items-end"><small style="font-size: 12px;"> Posted at<%= review.created_at%> </small>
                                <% if can? :crud, review %>
                                    <%= button_to "Delete", meal_review_path(review.meal, review), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class:"btn btn-outline-primary me-2"%>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
                <div class="row row-cols-2 ms-3">
                    <p>Pending Reviews</p>
                    <% @pending_reviews.each do |review| %>
                        <div class="card col m-3 py-3" style="width: 25rem;">
                            <div class="card-body">
                                <h5 class="card-title"><a href="<%=meal_path(review.meal)%>" class="text-decoration-none"><%= review.meal.title%></a></h5>
                                <hr>
                                <span><strong>Rating: </strong>
                                    <%review.rating.times do %>
                                        ★
                                    <% end %>
                                </span>
                                <p class="card-text text-truncate"><%= review.body%></p>
                                <span class="d-flex flex-row align-items-end"><small style="font-size: 12px;"> Posted at<%= review.created_at%> </small>
                                <% if can? :crud, review %>
                                    <%= button_to "Delete", meal_review_path(review.meal, review), method: :delete, form: {data: {turbo_confirm: 'Are you sure?'}}, class:"btn btn-outline-primary me-2"%>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>

            <div class="container d-flex flex-column">
                <div class="d-flex flex-row justify-content-center">
                    <h2><%=@user.username%>'s Order</h2>
                </div>
                <%@orders = @user.orders%>
                <div class="row row-cols-2 ms-3">
                    <% @orders.each do |order| %>
                        <div class="card col m-3 py-3" style="width: 25rem;">
                            <div class="card-body">
                                <h5 class="card-title"><a href="<%=order_path(order)%>" class="text-decoration-none"><%= order.id%></a></h5>
                                <hr>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        <%end%>
    </div>
</div>

