
<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">Create an account</h2>
                    <% if @user.errors.any? %>
                        <p> <%= @user.errors.full_massage.join(',') %> </p>
                    <% end %>
                    <div class="form-outline mb-4">
                        <%= form_with(model: @user) do |f| %>
                            <div class="form-outline mb-4">
                                <%= f.label :username, class: "form-label"%>
                                <%= f.text_field :username, class: "form-control form-control-lg"%>
                            </div>
                            <div class="form-outline mb-4">
                                <%= f.label :email, class: "form-label"%>
                                <%= f.text_field :email, class: "form-control form-control-lg"%>
                            </div>
                            <div class="form-outline mb-4">
                                <%= f.label :profile_img_url, "Profile image Url", class: "form-label"%>
                                <%= f.text_field :profile_img_url, class: "form-control form-control-lg"%>
                            </div>
                            <div class="form-outline mb-4">
                                <%= f.label :password, class: "form-label"%>
                                <%= f.password_field :password, class: "form-control form-control-lg"%>
                            </div>
                            <div class="form-outline mb-4">
                                <%= f.label :password_confirmation, class: "form-label"%>
                                <%= f.password_field :password_confirmation, class: "form-control form-control-lg"%>
                            </div>
                            <div class="d-flex justify-content-center">
                            <%= f.submit 'Sign up', class:"btn btn-primary btn-block btn-lg gradient-custom-4 text-body"%>
                            </div>
                        <% end %>
                    </div>
             

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>