<h1 class="text-center mb-3"><%= pluralize(@meals.count, "Result") %> with ingredient "<%=@ingredient.name%>"</h1>
<div class="flex-container mx-5">
    <% @meals.each do |meal| %>
        <div class="item-container">
                <div class="card mb-3 index-card">
                    <%= image_tag meal.img_url, class:"card-img-top" %>
                    <div class="card-body">
                        <div class="mb-1">
                        <%= link_to meal.title, meal_path(meal), class:"title-list-item"%>
                        </div>
                        <div class="mb-3 index-chef">
                         Cook: <%= link_to meal.user.username, user_path(meal.user) %>
                        </div>
                        <div>
                            <% unless meal.ingredients.empty? %>
                                <small>
                                    <strong>Ingredients:</strong>
                                    <br>
                                    <% meal.ingredients.each do |ingredient| %>
                                    <%= link_to(ingredient.name, ingredient_path(ingredient), class:'badge rounded-pill bg-primary')%>
                                    <%end%>
                                </small>
                            <% end %>
                       </div>
                    </div>
                </div>
        </div>
    <% end %>  
</div>