<div class="row mx-5 my-5">
    <div class="show-image-container col-5 offset-1 me-3">
        <%= image_tag @meal.img_url, class:"show-image" %>
    </div>
    <div class="card col-5 ms-3">
        <div class="card-body">
            <div class="card-body">
                <h5 class="card-title"><%= @meal.title %></h5>
                <p class="card-text"><%= @meal.description %></p>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Ingredients: <%= @meal.ingredients %></li>
                <li class="list-group-item">Price: <%= @meal.price %></li>
                <li class="list-group-item">Cook: <%= @meal.user.username %></li> <%# this could link to user show page of the cook #%> 
              </ul>
              <div class="card-body">
                <a href="<%=new_meal_order_path(@meal)%>" class="btn btn-warning">Order Now</a>
              </div>
        </div>
    </div>


    <div class="col-10 offset-1 mt-5">
        <h3>Leave a Review</h3>
        
        <% if @review.errors.any? %> 
            <% @review.errors.full_messages.each do |msg| %> 
                <p><%= msg %></p>
            <% end %> 
        <% end %> 
        
        <%= form_with(model:[@meal, @review]) do |form|%>
            

            <div class="mb-3">
                <fieldset class="starability-basic">
                  
                  <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                  <input type="radio" id="first-rate1" name="rating" value="1" />
                  <label for="first-rate1" title="Terrible">1 star</label>
                  <input type="radio" id="first-rate2" name="rating" value="2" />
                  <label for="first-rate2" title="Not good">2 stars</label>
                  <input type="radio" id="first-rate3" name="rating" value="3" />
                  <label for="first-rate3" title="Average">3 stars</label>
                  <input type="radio" id="first-rate4" name="rating" value="4" />
                  <label for="first-rate4" title="Very good">4 stars</label>
                  <input type="radio" id="first-rate5" name="rating" value="5" />
                  <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
              </div>

            <div class="mb-3">
                <%= form.label :body, "Review", class: "form-label" %>
                <br>
                <%= form.text_area :body, cols: 50, rows: 5, class: "form-control" %>
            </div>
            <%= form.submit class: "btn btn-info mb-3"%>
        <% end %>
    </div>

    <div class="col-10 offset-1 mt-5">
        <h3 class="mb-4">All Reviews</h3>
        <% @meal.reviews.each do |review|%>
            <p>Rating: <%= review.rating %></p> 
            <p class="starability-result" data-rating="<%= review.rating %>"></p>
            <p>Review: <%= review.body %></p>
            <p>By: <%= review.user.username %></p>
            <p class="text-muted mb-4"><small>Posted <%= time_ago_in_words(review.created_at) %> ago </small></p>
        <% end %> 
    </div>

</div>